---
import { Image } from "astro:assets";
import aboutWinay from "../assets/images/about-winay.png";
import aprendizajeIcon from "../assets/icons/aprendizaje-about-icon.svg"
import comunidadIcon from "../assets/icons/comunidad-about-icon.svg"
import inspiracionIcon from "../assets/icons/inspiracion-about-icon.svg"
import networkingIcon from "../assets/icons/networking-about-icon.svg"

const details: {title: string, desc: string, icon: ImageMetadata}[] = [
  {
    title: "Networking",
    desc: "Conecta con profesionales y lideres tech de toda Bolivia",
    icon: networkingIcon
  },
  {
    title: "Aprendizaje",
    desc: "Descubre las últimas tendencias y tecnologías del mercado",
    icon: aprendizajeIcon
  },
  {
    title: "Comunidad",
    desc: "Forma parte de una red de apoyo y crecimiento mutuo",
    icon: comunidadIcon
  },
  {
    title: "Inspiración",
    desc: "Motívate con historias reales de éxito y superación",
    icon: inspiracionIcon
  }
]
---

<div class="flex lg:px-[128px] md:px-[64px] lg:py-[72px] md:py-[42px] bg-[#ffffff] border border-red-700">
  <div class="flex lg:flex-row md:flex-col justify-center items-start gap-6 border border-red-500">
    <div class="flex flex-col h-full">
      <h2 class="mb-4 lg:text-left md:text-center text-3xl font-bold md:text-5xl">
        ¿Qué es WiñayTech?
      </h2>
      <p class="text-md mb-4 md:text-lg lg:text-left md:text-center">
        El Día Internacional de la Mujer se celebra anualmente en marzo como momento reconocido mundialmente para celebrar los logros de las mujeres y crear conciencia sobre las cuestiones que afectan la igualdad de género. 
      </p>
      <div class="grid lg:grid-cols-1 md:grid-cols-2 gap-6">
        {
          details.map(d => (
            <div class="flex gap-4">
              <Image src={d.icon} alt={d.title} class="w-12 h-12" /> 
              <div>
                <h4 class="font-[600]">{d.title}</h4>
                <p>{d.desc}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex w-full items-center">
      <Image
        class="h-auto w-full rounded-xl"
        src={aboutWinay}
        alt="Evento anterior de WTM Cochabamba"
      />
    </div>
  </div>
</div>

<style>
  h2 {
    color: #101828;
  }
  p {
    color: #4A5565;
  }
</style>
