---
import { Image } from "astro:assets";
import gdgLogo from "../assets/images/gdg-logo.png";
import gdgImage from "../assets/images/gdg-image.png";
import logoInstagram from "../assets/images/logo-instagram.svg";
import logoFacebook from "../assets/images/logo-facebook.svg";
import logoLinkedin from "../assets/images/logo-linkedin.svg";
import logotiktok from "../assets/images/logo-tiktok.svg";
---

<div
  class="flex w-full flex-col items-center justify-start bg-[#f9f9f9] px-6 py-[120px]"
>
  <div
    class="flex w-[1024px] flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-10"
  >
    <div
      class="flex flex-shrink-0 flex-grow-0 items-start justify-center gap-8 self-stretch"
    >
      <div class="flex flex-grow flex-col items-center justify-start gap-12">
        <div
          class="relative flex flex-shrink-0 flex-grow-0 items-start justify-center gap-12 self-stretch"
        >
          <Image
            src={gdgImage}
            alt="gdgImage"
            class="h-[379px] w-[512px] flex-shrink-0 flex-grow-0 rounded-2xl object-cover"
          />
          <div
            class="relative flex flex-grow flex-col items-start justify-start gap-6"
          >
            <Image
              src={gdgLogo}
              alt="GDG Cochabamba"
              class="h-[34px] w-[400px] flex-shrink-0 flex-grow-0 object-contain"
            />
            <p
              class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] text-[#4c555b]"
            >
              <span
                class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] text-[#4c555b]"
                >La comunidad
              </span><span
                class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] font-bold text-[#4c555b]"
                >Google Developer Group Cochabamba</span
              ><span
                class="w-[464px] flex-shrink-0 flex-grow-0 self-stretch text-left text-[22px] text-[#4c555b]"
              >
                te da la oportunidad de aprender nuevas habilidades en una
                variedad de formatos. También conocerás a desarrolladores
                locales de forma virtual o en persona con intereses similares en
                tecnología.
              </span><br />
            </p>
            <div
              class="relative flex flex-shrink-0 flex-grow-0 items-center justify-start gap-10 self-stretch"
            >
              <a
                href="https://www.facebook.com/wtmcochabamba"
                class="flex-grow-0 flex-shrink-0 w-10 h-10 relative"
                target="_blank"
                rel="noopener"
              >
                <Image
                  class="h-8 w-8 md:h-10 md:w-10"
                  src={logoFacebook}
                  alt="WTM Cochabamba en Facebook"
                />
              </a>
              <a
                href="https://www.instagram.com/wtmcochabamba"
                class="flex-grow-0 flex-shrink-0 w-10 h-10 relative"
                target="_blank"
                rel="noopener"
              >
                <Image
                  class="h-8 w-8 md:h-10 md:w-10"
                  src={logoInstagram}
                  alt="WTM Cochabamba en Instagram"
                />
              </a>
              <a
                href="https://www.linkedin.com/company/gdg-cochabamba"
                class="flex-grow-0 flex-shrink-0 w-10 h-10 relative"
                target="_blank"
                rel="noopener"
              >
                <Image
                  class="h-8 w-8 md:h-10 md:w-10"
                  src={logoLinkedin}
                  alt="GDG Cochabamba en Linkedin"
                />
              </a>
              <a
                href="https://www.tiktok.com/@gdg.cochabamba"
                class="flex-grow-0 flex-shrink-0 w-10 h-10 relative"
                target="_blank"
                rel="noopener"
              >
                <Image
                  class="h-8 w-8 md:h-10 md:w-10"
                  src={logotiktok}
                  alt="GDG Cochabamba en TikTok"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
