---
import { Image } from "astro:assets";
import WTMLogo from "../assets/images/sponsors/wtmLogo.png";
import GP4Tech from "../assets/images/community organizers/gp4tech.png";
import FDSLogo from "../assets/images/sponsors/fdsLogo.webp";
import MichiCosmicoLogo from "../assets/images/sponsors/michiCosmicoLogo.jpeg";
import BeautyLogo from "../assets/images/sponsors/beautyLogo.jpeg";
---

<section class="px-6 py-20 pt-0 md:px-10">
  <h2 class="flex-shrink-0 flex-grow-0 text-center text-[40px] mt-5 text-[#29292d]">
    Nuestros Auspiciadores
  </h2>
  <p class="flex-shrink-0 flex-grow-0 text-center text-[22px] text-[#4c555b]">
    Conoce a las empresas que apoyan el evento.
  </p>
  <div class="mt-14 flex items-center justify-center gap-48">
    <a
      href="https://www.facebook.com/GP4TechJala"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={GP4Tech}
        alt="gp4tech logo"
        loading="lazy"
        class="m-auto mb-5 w-64"
      />
    </a>
    <a
      href="https://developers.google.com/womentechmakers"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={WTMLogo}
        alt="WTM logo"
        loading="lazy"
        class="m-auto mb-5 w-64"
      />
    </a>
    <a href="https://fundaciondelsaber.org/" target="_blank" rel="noopener">
      <Image
        src={FDSLogo}
        alt="FSD logo"
        loading="lazy"
        class="m-auto mb-5 w-64"
      />
    </a>
    <a
      href="https://www.instagram.com/impresiones_michicosmico/#"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={MichiCosmicoLogo}
        alt="MICHI COSMICO logo"
        loading="lazy"
        class="m-auto mb-5 w-64"
      />
    </a>
    <a
      href="https://www.facebook.com/thebeautytruckbolivia"
      target="_blank"
      rel="noopener"
    >
      <Image
        src={BeautyLogo}
        alt="Beauty logo"
        loading="lazy"
        class="m-auto mb-5 w-64"
      />
    </a>
  </div>
</section>
